@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #FF8C00;
  }
  .dark {
    :root {
      --color-primary: blue;
    }
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/JetBrainsMono.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('/Lora.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}



@keyframes arrow {
  0% {
    background-size: 0.5em;
  }
  100% {
    background-size: 0.7em;
  }
}
