@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #FF8C00;
  }
  .dark {
    :root {
      --color-primary: blue;
    }
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}



a:not(.plain):not(.tag):not(.internal-link):not(.footnote):not(.reversefootnote) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
  background-position: right 33%;
  background-repeat: no-repeat;
  background-size: 0.7em;
  padding-right: 0.75em;
  text-decoration: underline;
}

@keyframes arrow {
  0% {
    background-size: 0.5em;
  }
  100% {
    background-size: 0.7em;
  }
}

a.hover-arrow:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
  background-position: right 33%;
  background-repeat: no-repeat;
  background-size: 0.7em;
  padding-right: 0.75em;
  text-decoration: underline;
  /* Add Animations */
  animation-name: arrow;
  animation-duration: 0.3s;
}